.top {
  color: #189cbc;
  margin-left: 75px;
}

img {
  margin-right: 0;
}

button {
  color: #189cbc;
}

button:hover {
  background-color: #189cbc;
  color: white;
}

.post:hover {
  border-color: #189cbc;
}

.invalid{
  color: red;
}

.valid{
  color: green;
}

.post {
  border: 1px solid lightgrey;
  margin-bottom: 15px;
  display: flex
}

img {
  width: 100px;
  height: 118.33;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.footer{
  margin-bottom: 15px;
}

.footer > h5 {
  display: inline;
  margin-right: 20px;
}

.cursor{
  cursor: pointer;
}
